.header {
  padding: 1rem 0 3rem;
}

.nav {
  list-style: none;
  float: right;
}

.nav-item {
  display: inline-block;
  margin-right: 1rem;
}

.nav-link {
  color: #999;

  &:hover {
    color: #666;
    cursor: pointer;
  }
}

.active-nav-link {
  color: #333;
}

.logo {
  text-shadow: none;
  background-image: none;
  color: #000;
  font-size: 3rem;
  text-decoration: none;
}
